// Set uniform (but not relative) base font size
html
	font-size: 14px
	background-color: $bg
+media(new-breakpoint(min-width 410px 12))
	html
		font-size: 15px
+media(new-breakpoint(min-width 1400px 12))
	html
		font-size: 16px

body
	background-color: $bg
	font-weight: 450

.wy-affix
	position: fixed
	top: $gutter 


[data-menu-wrap]
	+transition(all .2s ease-in)
	position: absolute
	opacity: 1
	width: 100%
	opacity: 0
	&.move-center
		left: 0
		right: auto
		opacity: 1
	&.move-left
		right: auto
		left: -100%
		opacity: 0
	&.move-right
		right: -100%
		left: auto
		opacity: 0

.wy-body-for-nav
	background: $section-background-color

.wy-grid-for-nav
	position: absolute
	width: 100%
	height: 100%

.wy-nav-side
	position: fixed
	top: 0
	bottom: 0
	left: 0
	width: $nav-desktop-width
	overflow-x: hidden
	overflow-y: hidden
	min-height: 100%
	color: $text
	background: $nav-background-color
	z-index: $z-index-popover
	
.wy-side-scroll
	width: $nav-desktop-width + 1.5rem
	position: relative
	overflow-x: hidden
	overflow-y: scroll
	height: 100%

	// Hairline on the right side
	&:before
		content: ''
		position: absolute
		display: block
		width: $nav-desktop-width
		height: 100%
		top: 0
		left: 0
		pointer-events: none
		border-right: 1px solid $border

.wy-nav-top
	display: none
	background: $nav-search-background-color
	color: $nav-search-color
	padding: 0 $gutter / 2
	border-bottom: $hairline
	position: relative
	line-height: 4rem
	text-align: left
	font-size: 100%
	+clearfix
	a
		color: inherit
		font-weight: normal
		+font-smooth
	img
		float: right
		height: 2.4rem
		margin: 0.8rem 0
	i
		font-size: 1rem
		line-height: inherit
		float: left
		cursor: pointer
		padding-top: inherit
		padding-right: inherit

.wy-nav-content-wrap
	margin-left: $nav-desktop-width
	background: $section-background-color
	min-height: 100%

.wy-nav-content
	padding: 1.75rem  $gutter $gutter $gutter
	height: 100%
	max-width: $nav-content-width
	margin: auto

.wy-body-mask
	position: fixed
	width: 100%
	height: 100%
	background: rgba(0,0,0,.2)
	display: none
	z-index: $z-index-modal - 1
	&.on
		display: block
footer
	color: $footer-color
	a
		color: inherit
		text-decoration: underline
		&:visited
			color: inherit
		&:hover
			color: inherit
			text-decoration: none
	p
		margin-bottom: $base-line-height / 2
	span.commit code
		padding: 0px
		font-family: $code-font-family
		font-size: 1em
		background: none
		border: none
		color: $footer-color

.rst-footer-buttons
	margin: $space-l 0
	&:before, &:after
		width: 100%
	+clearfix
	.btn
		padding: 0 0.85rem
		line-height: 2.5rem
		box-shadow: none
		border-radius: $radius
		border: $hairline
		&:hover 
			border-color: $text
			background-color: $bg-panel !important

.rst-breadcrumbs-buttons
	margin-top: 12px
	+clearfix

#search-results
	h2 
		font-size: 2.5rem
		line-height: 1
		letter-spacing: -0.03em
		margin-top: 4.2rem
		margin-bottom: $space-m
		font-weight: 340
	.search li
		margin-bottom: $margin-rst
	.search li a
		font-size: 1.5rem
		line-height: 1.3
		letter-spacing: -0.02em
		margin-top: $space-m
		margin-bottom: $space-s
		font-weight: 380
		text-decoration: none
	.context
		color: $text
		line-height: $base-line-height

.genindextable li > ul
	margin-left: $base-line-height

@media screen and (max-width: $nav-media-query * 0.85)
	.wy-body-for-nav
		background: $section-background-color
	.wy-nav-top
		display: block
	.wy-nav-side
		@if $nav-desktop-position == left
			left: -$nav-desktop-width
		@else
			right: -$nav-desktop-width
		&.shift
			width: $nav-desktop-width
			left: 0
	.wy-side-scroll
		width: auto
	.wy-side-nav-search
		width: auto
	.wy-menu.wy-menu-vertical
		width: auto
	.wy-nav-content-wrap
		margin-left: 0
		.wy-nav-content
			padding: $gutter $gutter * 0.5
		&.shift
			position: fixed
			min-width: 100%
			left: $nav-desktop-width
			top: 0
			height: 100%
			overflow: hidden

@media screen and (min-width: $nav-media-query)
	.wy-nav-content
		margin: 0
		background: $section-background-color

+media(new-breakpoint(min-width $nav-desktop-width + $nav-desktop-width + $nav-content-width 12))
	.wy-nav-content-wrap
		margin-left: 0
	.wy-nav-content
		margin-left: auto
		margin-right: auto

@media print
	.rst-versions, footer, .wy-nav-side
		display: none
	.wy-nav-content-wrap
		margin-left: 0
